package-db: /Users/michaelbaker/Documents/Haskell/TicTacToe/WebInterface/cabal-dev/packages-7.0.3.conf
local-repo: /Users/michaelbaker/Documents/Haskell/TicTacToe/WebInterface/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/michaelbaker/.cabal/packages
build-summary: /Users/michaelbaker/Documents/Haskell/TicTacToe/WebInterface/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /Users/michaelbaker/Documents/Haskell/TicTacToe/WebInterface/cabal-dev/
install-dirs global
  prefix: /Users/michaelbaker/Documents/Haskell/TicTacToe/WebInterface/cabal-dev/